<section id="home" class="home">
    <div data-aos="fade-right" class="home-container container">
        <div class="text">
            <div class="home-data">
                <h1 data-aos="fade-right" data-aos-delay="100" class="h1 home-title">{{'label.home.title' | translate}}</h1>
                <div id="typewriter">
                    <p>&nbsp;<span class="gradient-text">{{text | translate}}</span></p>
                </div>
            </div>
            <div class="botton-container">
                <a href="https://www.linkedin.com/in/miguel-calvo-ruiz-4b0672187/" class="button linkedin" data-aos="fade-right"
                    data-aos-delay="100" target="_blank">
                    <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
                </a>
                <a href="https://github.com/miguelcalvoruiz" class="button github" data-aos="fade-right" data-aos-delay="100"
                    target="_blank">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</section>