@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root {
  --highlight-green: #7bfb92;
  --purple: #c15df3;
  --white: #f3f3f3;
  --soft-black: rgba(0, 0, 0, 0.05);
  --transparent-white: rgba(255, 255, 255, 0.5);
  --very-transparent-white: rgba(255, 255, 255, 0.13);
  --dark-gray: #444444;
  --gray: #4c4c4c;
  --light-gray: #c2c0c0;
  --medium-gray: #9b9a9a;
  --light-gray-hover: #aaa;
  --black: black;
  --nav-background: #232323;
  --home-background: rgba(177, 176, 176, 0.102);
  --button-linkedin-background: #0077b5;
  --button-github-background: #c15df3;
  --body-background: #313131;
  --green-purple-gradient: linear-gradient(to right, #7bfb92, #c15df3);
  --green-purple-gradient-webkit: -webkit-linear-gradient(to right, #7bfb92, #c15df3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.body-style {
  font-family: 'Cairo', sans-serif;
  background: var(--body-background);
  color: var(--white);
}

section {
  padding-top: 40px;
  overflow: hidden;
}

.bar-title {
  position: relative;
  display: block;
}

.bar-title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  bottom: -8px;
  background: var(--highlight-green);
  background: -webkit-linear-gradient(to right, #7bfb92, #c15df3);
  background: linear-gradient(to right, #7bfb92, #c15df3);
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}